<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ · Threads</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/navibar/navileft.css" />
    <link rel="stylesheet" href="/style/navibar/navitop.css">
    <link rel="stylesheet" href="/style/containerPost.css">
    <link rel="stylesheet" href="/style/plus.css">
    <link rel="stylesheet" href="/style/plusModal.css" />
    <link rel="stylesheet" href="/style/comment.css" />
    <link rel="stylesheet" href="/style/three_dots.css" />

    <script src="https://kit.fontawesome.com/434b26bb0d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- <script src="/home.js"></script> -->
</head>

<body>
    <%- include("../Partials/naviLeft.ejs") %>

    <div class="container-fluid">
        <div class="container_post">
            <%- include("../Partials/naviTop.ejs") %>
                <!-- Post 1 - Main Post -->
                <div class="post" id="postTop" style="height: 100px;">
                    <div class="post-header">
                        <div class="avatar">avt</div>
                        <div class="username-time">
                            <div class="username">hoang_uyn205</div>
                            <div class="time">21 giờ</div>
                        </div>
                        
                        <%- include("../Partials/three_dots.ejs") %>
                    </div>
                    <div class="post-content">
                        Tìm = mất chuỗi NNN ⭐
                    </div>
                    <div class="post-footer">
                        <div><i class="far fa-heart"></i>425</div>
                        <div><i class="far fa-comment"></i>9</div>
                        <div><i class="fas fa-share"></i></div>
                    </div>
                </div>

                <!-- Modal Trigger -->
                <div class="post"
                    style=" width: calc(100% - 40px); padding: 20px; display: flex; justify-content: space-between; align-items: center;">
                    <p style="margin: 0; color: white; font-weight: bold;">Thread trả lời</p>
                    <div style="color: #888; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#activityModal">Xem hoạt động ></div>
                </div>

                <div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" style="height: 90vh; margin-top: 2rem; border-radius: 30px;">
                        <div class="modal-content" style="height: 100%; background-color: #181818; color: white; border-radius: 10px; padding: 0px;">
                
                            <!-- Fixed Header -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="activityModalLabel" style="text-align: center; width: 100%; font-weight: bold;">Hoạt động đối với bài viết</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
                            </div>
                
                            <!-- Scrollable Body -->
                            <div class="modal-body" style="height: 60vh; overflow-y: auto; padding: 20px;">
                                <div class="status mx-0.5rem" style="border: 1px solid #383939; padding: 10px; border-radius: 20px;">
                                    <div class="post-header" style="display: flex; align-items: center; margin-bottom: 10px;">
                                        <div class="avatar" style="margin-right: 10px; width: 40px; height: 40px; border-radius: 50%; background: gray;"></div>
                                        <div class="username-time">
                                            <div class="username" style="font-weight: bold;">tng_baro</div>
                                            <div class="time" style="color: #aaa;">14 giờ</div>
                                        </div>
                                    </div>
                                    <p style="margin: 10px 0;">tin chuẩn nhé anh em</p>
                                </div>
                                
                                <div class="statistics" style="margin-top: 15px;">
                                    <div class="statistics-items">
                                        <div><i class="far fa-eye" style="font-size: 125%;"></i> Lượt xem:</div>
                                        <div>14.010</div>
                                    </div>
                                    <div class="statistics-items">
                                        <div><i class="far fa-heart" style="font-size: 125%;"></i> Lượt thích:</div>
                                        <div>80</div>
                                    </div>
                                    <div class="statistics-items">
                                        <div><i class="fas fa-retweet" style="font-size: 125%;"></i> Lượt đăng lại:</div>
                                        <div>2</div>
                                    </div>
                                    <div class="statistics-items">
                                        <span><i class="fas fa-comment"></i> Trích dẫn</span>
                                        <span>9</span>
                                    </div>
                                </div>
                
                                <hr style="border-color: #3b3a3a; margin-top: 10px;">
                
                                <!-- User List -->
                                <div class="user-list">
                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex;">
                                            <div class="avatar_cmt my-auto">

                                                    <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay" style="background-color: #c329bf;">
                                                    <i class="fas fa-retweet" style="font-size: 80%;"></i> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">okokee9</div>
                                                <div class="username" style="color: #aaa;">Nguyễn Bảo</div>
                                            </div>
                                            <div class="time" style="color: #aaa;">15 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>
                
                                    <!-- Repeat user structure for other users -->
                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>
                
                                    <!-- Add more users as needed -->
                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>

                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>

                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>

                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>

                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>

                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>

                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>

                                    <div class="user" style="padding: 0; display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
                                        <div style="padding: 0; display: flex; align-items: flex-start;">
                                            <div class="avatar_cmt my-auto">

                                                <!-- Icon at the bottom-right of avatar -->
                                                <div class="icon-overlay">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                    </svg> <!-- Đổi icon thành icon bạn muốn -->
                                                </div>
                                            </div>
                                            <div class="name" style="display: flex; flex-direction: column;">
                                                <div class="nickName" style="font-weight: bold;">ddangw.khoaa</div>
                                                <div class="username" style="color: #aaa;">Đăng Khoa</div>
                                            </div>
                                            <div class="time" style="color: #aaa; margin-left: 10px;">14 giờ</div>
                                        </div>
                                        <button class="btn btn-secondary" style="padding: 5px 10px; background-color: #181818; border: 1px solid #383939;">Theo dõi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                



                <!-- Post 2 - Comment 1 -->
                <div class="post">
                    <div class="post-header">
                        <div class="avatar">avt</div>
                        <div class="username-time">
                            <div class="username">embedam.69</div>
                            <div class="time">19 giờ</div>
                        </div>
                        <%- include("../Partials/three_dots.ejs") %>
                    </div>
                    <div class="post-content">
                        Fwb ib e
                    </div>
                    <div class="post-footer">
                        <div><i class="far fa-heart"></i>1</div>
                        <div><i class="far fa-comment"></i></div>
                        <div><i class="fas fa-share"></i></div>
                    </div>
                </div>

                <!-- Post 3 - Comment 2 -->
                <div class="post">
                    <div class="post-header">
                        <div class="avatar">avt</div>
                        <div class="username-time">
                            <div class="username">nkn4994</div>
                            <div class="time">20 giờ</div>
                        </div>
                        <%- include("../Partials/three_dots.ejs") %>
                    </div>
                    <div class="post-content">
                        Đâu
                    </div>
                    <div class="post-footer">
                        <div><i class="far fa-heart"></i></div>
                        <div><i class="far fa-comment"></i></div>
                        <div><i class="fas fa-share"></i></div>
                    </div>
                </div>

                <!-- Post 4 - Comment 3 -->
                <div class="post">
                    <div class="post-header">
                        <div class="avatar">avt</div>
                        <div class="username-time">
                            <div class="username">truongthach264</div>
                            <div class="time">21 giờ</div>
                        </div>
                        <%- include("../Partials/three_dots.ejs") %>
                    </div>
                    <div class="post-content">
                        Ib a
                    </div>
                    <div class="post-footer">
                        <div><i class="far fa-heart"></i></div>
                        <div><i class="far fa-comment"></i></div>
                        <div><i class="fas fa-share"></i></div>
                    </div>
                </div>

                <!-- Post 5 - Comment 4 -->
                <div class="post">
                    <div class="post-header">
                        <div class="avatar">avt</div>
                        <div class="username-time">
                            <div class="username">minhtai.2807__</div>
                            <div class="time">2 giờ</div>
                        </div>
                        <%- include("../Partials/three_dots.ejs") %>
                    </div>
                    <div class="post-content">
                        🤨😶
                    </div>
                    <div class="post-footer">
                        <div><i class="far fa-heart"></i></div>
                        <div><i class="far fa-comment"></i></div>
                        <div><i class="fas fa-share"></i></div>
                    </div>
                </div>

                <div class="post">
                    <div class="post-header">
                        <div class="avatar">avt</div>
                        <div class="username-time">
                            <div class="username">_10.nov_</div>
                            <div class="time">27 phút</div>
                        </div>
                        <%- include("../Partials/three_dots.ejs") %>
                    </div>
                    <div class="post-content">
                        Đâu z
                    </div>
                    <div class="post-footer">
                        <div><i class="far fa-heart"></i>4</div>
                        <div><i class="far fa-comment"></i>2</div>
                        <div><i class="fas fa-share"></i></div>
                    </div>
                </div>

                <div class="post">
                    <div class="post-header">
                        <div class="avatar">avt</div>
                        <div class="username-time">
                            <div class="username">_10.nov_</div>
                            <div class="time">27 phút</div>
                        </div>
                        <%- include("../Partials/three_dots.ejs") %>
                    </div>
                    <div class="post-content">
                        Tim r
                    </div>
                    <div class="post-footer">
                        <div><i class="far fa-heart"></i>4</div>
                        <div><i class="far fa-comment"></i>2</div>
                        <div><i class="fas fa-share"></i></div>
                    </div>
                </div>

                <div class="post">
                    <div class="post-header">
                        <div class="avatar">avt</div>
                        <div class="username-time">
                            <div class="username">_10.nov_</div>
                            <div class="time">27 phút</div>
                        </div>
                        <%- include("../Partials/three_dots.ejs") %>
                    </div>
                    <div class="post-content">
                        Tht hưm
                    </div>
                    <div class="post-footer">
                        <div><i class="far fa-heart"></i>4</div>
                        <div><i class="far fa-comment"></i>2</div>
                        <div><i class="fas fa-share"></i></div>
                    </div>
                </div>

                <%- include("../Partials/plusIcon.ejs") %>
        </div>
    </div>

        <!-- cmt thêm để thêm lại vào main -->
</body>

</html>